* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#intro,
#about-sec,
#edu,
#skills,
#projects,
#contact-me {
    margin-bottom: 20px;
}

#align-div h2 {
    text-transform: uppercase;
}

#align-div,
footer {
    text-align: center;
}

/* Intro Section */
#intro {
    background-color: burlywood;
    background: linear-gradient(to bottom, purple, beige);
}


#intro p {
    font-style: italic;
}

/* About Section */
#about-sec {
    background-color: rgb(203, 205, 187);
}

/* Education Section */
#edu {
    background-color: rgb(125, 127, 88);
}

/* Skills section */
#skills {
    background-color: blueviolet;
}


/* Projects Section */
#projects {
    background-color: cornflowerblue;
}

/* Contact me */
#contact-me {
    background-color: chartreuse;
}

footer {
    background-color: rgb(212, 186, 146);
}